@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
    background: #f3f3f3;
}

html.dark {
  background: #222;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

.btn {
  /* @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50; */
}

.footer-icons svg {
  font-size: 0.9em;
}

/* NAIVE BIAS CSS */

html {
  scroll-behavior: smooth;
}

.label-sp {
    background-color: #06d;
    color: #fff;
    padding: 12px;
    border-radius: .25em;
    display: inline-block;
}

.turbolinks-progress-bar {
    background-color: #DF5555;
}

html.dark .air-button, html.dark #scroll-top-button {
    filter: invert(1);
}

.top-nav-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-nav-small-logo {
    display: none;
}

.top-nav-full-logo {
    display: block;
    position: absolute;
    top: 16px;
    left: 12px;
    max-width: 260px;
}

.top-nav-buffer {
    width: 100%;
    height: 50px;
}

.large-header-logo {
    max-width: 160px;
}

@media (min-width: 640px) {
    .top-nav-small-logo {
        display: block;
    }

    .top-nav-full-logo {
        display: none;
    }

    .top-nav-buffer {
        display: none;
    }
}

.small-header-logo {
    max-width: 100px;
    margin-bottom: 30px;
}

section {
    /* @apply px-3; */
}

.article-container {
    text-align: left;
}

.article-container img {
    border-radius: 10px;
}

.article-container img.rounded-full {
    border-radius: 200px;
}

.article-title {
    max-width: 800px;
}

.article-content {
  margin-bottom: 100px;
}

.article-content ul {
  list-style: none;
  padding-inline-start: 20px;
}

.info-panel {
    background: #FFF;
    border-radius: 10px;
}

html.dark .info-panel {
    background: #434343;
    color: #FFF;
}

.separator {
    margin: 40px 20px;
    border-top: 2px solid #000;
}

html.dark .separator {
    border-top: 2px solid #FFF;
}

.info-panel a {
    font-weight: bold;
    text-decoration: none;
}

.info-panel a.underline {
    text-decoration: underline;
}

.info-panel:first-of-type {
    margin-top: 70px;
}

#scroll-top-button {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
}

.teahouse h1 {
    text-align: center !important;
    color: rgb(17, 161, 161);
}

.teahouse a.th-internal {
    color: rgb(17, 161, 161);
    background-color: rgb(223, 252, 244);
    border-radius: 4px;
    padding: 0 4px;
    text-decoration: none;
}

.dark .teahouse a.th-internal {
    color: rgb(53, 248, 248);
    background-color: rgb(1, 34, 25);
}


.search-backdrop {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
}

.search-modal {
    position: relative;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 5px;
    margin: 0 auto;
}

.search-input {
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 2px 35px 2px 10px;
    border-radius: 5px;
}

.search-input:focus {
    outline: none;
}

.search-input-icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}

.search-input-icon:hover {
    opacity: 0.7;
}

.search-input-icon:active {
    opacity: 1;
}

.search-results {
    display: none;
    white-space: pre;
    max-width: 600px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
}

.search-result-item {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
    border: 2px solid #CCC;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.search-result-item-comment {
    color: #CCC;
    margin-left: 4px;
    font-size: 12px;
}

.search-result-selected-item {
    background-color: #FDFDFD;
    border-color: #1896B1;
    color: #1896B1;
}


.home-search-bar {
    position: relative;
    cursor: pointer;
    border: 2px solid #BBB;
    width: 100%;
    background-color: #FFF;
    border-radius: 5px;
    height: 42px;
    padding: 10px;
}

.dark .home-search-bar {
    background-color: #000;
    border: 2px solid #333;
}

.home-search-bar-input-icon {
    float: right;
}

.home-search-bar-input-label {
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 20px;
    color: #CCC;
}

.home-search-bar:hover {
    border: 2px solid #1896B1;
}


.home-search-bar:active {
    border: 2px solid #10c0e7;
}
