<footer class="text-center mt-10">
    <img class="my-4 mx-auto dark:opacity-10 opacity-50" src="/img/footer-image.svg" alt="Naive Bias footer decoration">
    <nav>
        <a class="block my-4 text-gray-500 font-bold hover:text-gray-400 hover:underline" href="/about">Learn more about me</a>
        <a class="block my-4 text-gray-500 font-bold hover:text-gray-400 hover:underline" href="https://twitter.com/nehfy" target="_blank">Follow me on Twitter</a>
    </nav>

    <nav class="text-xl mt-6 mr-auto ml-auto footer-icons">
    <a class="dark:hidden inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-red-600 dark:text-white dark:hover:text-red-600 mx-2" href="javascript:void(0)" onclick="toggleDarkMode()" title="Toggle dark mode"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" style="vertical-align: middle; transform: translateY(-5%);"><path d="M13.502 5.414a15.075 15.075 0 0 0 11.594 18.194a11.113 11.113 0 0 1-7.975 3.39c-.138 0-.278.005-.418 0a11.094 11.094 0 0 1-3.2-21.584M14.98 3a1.002 1.002 0 0 0-.175.016a13.096 13.096 0 0 0 1.825 25.981c.164.006.328 0 .49 0a13.072 13.072 0 0 0 10.703-5.555a1.01 1.01 0 0 0-.783-1.565A13.08 13.08 0 0 1 15.89 4.38A1.015 1.015 0 0 0 14.98 3z" fill="currentColor"></path></svg></a>
    
    <a class="hidden dark:inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-red-600 dark:text-white dark:hover:text-red-600 mx-2" href="javascript:void(0)" onclick="toggleDarkMode()" title="Toggle dark mode">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" style="vertical-align: middle; transform: translateY(-5%);"><path d="M16 12.005a4 4 0 1 1-4 4a4.005 4.005 0 0 1 4-4m0-2a6 6 0 1 0 6 6a6 6 0 0 0-6-6z" fill="currentColor"></path><path d="M5.394 6.813l1.414-1.415l3.506 3.506L8.9 10.318z" fill="currentColor"></path><path d="M2 15.005h5v2H2z" fill="currentColor"></path><path d="M5.394 25.197L8.9 21.691l1.414 1.415l-3.506 3.505z" fill="currentColor"></path><path d="M15 25.005h2v5h-2z" fill="currentColor"></path><path d="M21.687 23.106l1.414-1.415l3.506 3.506l-1.414 1.414z" fill="currentColor"></path><path d="M25 15.005h5v2h-5z" fill="currentColor"></path><path d="M21.687 8.904l3.506-3.506l1.414 1.415l-3.506 3.505z" fill="currentColor"></path><path d="M15 2.005h2v5h-2z" fill="currentColor"></path></svg>
    </a>

    <a class="inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-red-600 dark:text-white dark:hover:text-red-600 mx-2" href="https://twitter.com/nehfy" target="_blank" title="Follow me on Twitter"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="vertical-align: middle; transform: translateY(-5%);"><path d="M22 5.907a8.292 8.292 0 0 1-2.356.637a4.07 4.07 0 0 0 1.804-2.234a8.349 8.349 0 0 1-2.607.98a4.12 4.12 0 0 0-2.995-1.275c-2.266 0-4.103 1.81-4.103 4.04c0 .316.036.625.106.92a11.708 11.708 0 0 1-8.456-4.221a3.964 3.964 0 0 0-.554 2.03a4.02 4.02 0 0 0 1.824 3.363a4.151 4.151 0 0 1-1.858-.507v.05c0 1.958 1.415 3.591 3.29 3.963a4.216 4.216 0 0 1-1.08.141c-.265 0-.522-.025-.773-.075a4.098 4.098 0 0 0 3.832 2.807a8.312 8.312 0 0 1-5.095 1.727c-.332 0-.658-.02-.979-.056a11.727 11.727 0 0 0 6.289 1.818c7.547 0 11.673-6.157 11.673-11.496l-.014-.523A8.126 8.126 0 0 0 22 5.907z" fill="currentColor"></path></svg></a><a class="inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-red-600 dark:text-white dark:hover:text-red-600 mx-2" href="https://github.com/rustamli" target="_blank" title="Follow me on Twitter"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" style="vertical-align: middle; transform: translateY(-5%);"><path d="M16 2a14 14 0 0 0-4.43 27.28c.7.13 1-.3 1-.67v-2.38c-3.89.84-4.71-1.88-4.71-1.88a3.71 3.71 0 0 0-1.62-2.05c-1.27-.86.1-.85.1-.85a2.94 2.94 0 0 1 2.14 1.45a3 3 0 0 0 4.08 1.16a2.93 2.93 0 0 1 .88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4 5.4 0 0 1 1.44-3.76a5 5 0 0 1 .14-3.7s1.17-.38 3.85 1.43a13.3 13.3 0 0 1 7 0c2.67-1.81 3.84-1.43 3.84-1.43a5 5 0 0 1 .14 3.7a5.4 5.4 0 0 1 1.44 3.76c0 5.38-3.27 6.56-6.39 6.91a3.33 3.33 0 0 1 .95 2.59v3.84c0 .46.25.81 1 .67A14 14 0 0 0 16 2z" fill-rule="evenodd" fill="currentColor"></path></svg></a></nav>

</footer>

<div id="scroll-top-button" class="rounded-md bg-gray-200 hover:bg-gray-300 p-4 focus:outline-none;" onclick="scrollToTop()">
    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
    </svg>
</div>