---

---
<header class="text-center py-4">
      <a href="/" class="top-nav-full-logo">
          <img class="header-full-logo dark:hidden" src="/img/full-logo.svg" alt="Naive Bias logo">
          <img class="header-full-logo hidden dark:block" src="/img/full-logo-dark.svg" alt="Naive Bias logo">
      </a>
      <a href="/" class="top-nav-small-logo">
          <img class="small-header-logo mx-auto dark:hidden" src="/img/logo.svg" alt="Naive Bias logo">
          <img class="small-header-logo mx-auto hidden dark:block" src="/img/dark-logo.svg" alt="Naive Bias logo">
      </a>
      <div class="top-nav-menu">
        <button id="dropdown-button" class="air-button relative z-10 block rounded-md bg-gray-200 hover:bg-gray-300 p-2 focus:outline-none">
          <svg class="h-10 w-10 text-gray-800" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x31_39_x2C__navigation_x2C__direction_x2C__compass_x2C__gps"><g id="XMLID_13662_"><path d="M257.378,105.972c-0.438,0.137-0.895,0.231-1.378,0.231s-0.94-0.095-1.378-0.231    c-81.643,0.74-147.91,67.008-148.65,148.65c0.137,0.438,0.231,0.895,0.231,1.378s-0.095,0.94-0.231,1.378    C106.716,339.48,173.726,406.045,256,406.045c0.799,0,1.595-0.018,2.391-0.029c0.426-0.129,0.869-0.219,1.337-0.219    c0.4,0,0.782,0.066,1.152,0.161c80.027-2.571,144.419-68.107,145.148-148.58c-0.137-0.438-0.231-0.895-0.231-1.378    s0.095-0.94,0.231-1.378C405.288,172.979,339.02,106.712,257.378,105.972z M138.573,269.048h-18.64v-18.64h18.64V269.048z     M246.681,119.935h18.639v18.639h-18.639V119.935z M269.047,391.149h-18.639v-19.587h18.639V391.149z M350.263,167.847    l-67.783,112.178c-0.012,0.019-0.026,0.036-0.038,0.057c-0.05,0.079-0.104,0.155-0.159,0.231c-0.048,0.067-0.095,0.136-0.146,0.2    c-0.056,0.07-0.116,0.137-0.177,0.204c-0.057,0.064-0.113,0.129-0.175,0.19c-0.061,0.061-0.125,0.117-0.19,0.175    c-0.066,0.06-0.133,0.121-0.203,0.177c-0.064,0.052-0.133,0.098-0.2,0.146c-0.077,0.055-0.153,0.109-0.232,0.159    c-0.02,0.012-0.037,0.026-0.057,0.038l-112.178,67.782c-0.747,0.451-1.581,0.671-2.409,0.671c-1.204,0-2.397-0.466-3.296-1.365    c-1.516-1.515-1.802-3.869-0.693-5.704l67.782-112.179c0.013-0.021,0.027-0.038,0.04-0.058c0.048-0.077,0.102-0.15,0.154-0.225    c0.049-0.07,0.098-0.141,0.15-0.207c0.056-0.069,0.115-0.135,0.175-0.201c0.058-0.064,0.114-0.131,0.176-0.192    c0.062-0.061,0.127-0.118,0.192-0.176c0.066-0.059,0.131-0.119,0.2-0.174c0.066-0.053,0.137-0.102,0.207-0.151    c0.074-0.053,0.147-0.105,0.225-0.154c0.021-0.013,0.038-0.027,0.059-0.04l112.179-67.781c1.837-1.108,4.19-0.822,5.705,0.693    C351.085,163.657,351.371,166.012,350.263,167.847z M390.202,269.048h-18.64v-18.64h18.64V269.048z" id="XMLID_13663_"/><polygon id="XMLID_13670_" points="259.588,252.121 277.579,270.113 332.517,179.193 241.598,234.13   "/><polygon id="XMLID_13671_" points="235.007,240.72 180.07,331.639 270.99,276.702 252.999,258.711   "/><path d="M256,50.037C142.432,50.037,50.037,142.432,50.037,256S142.432,461.963,256,461.963    c113.567,0,205.963-92.395,205.963-205.963S369.567,50.037,256,50.037z M436.8,260.66h-21.508    c-2.395,82.934-68.453,150.188-150.904,154.484V436.8c0,2.574-2.086,4.66-4.66,4.66s-4.66-2.086-4.66-4.66v-21.446    c-85.889-0.495-155.894-69.275-158.359-154.693H73.336c-2.573,0-4.659-2.086-4.659-4.66c0-2.573,2.086-4.66,4.659-4.66h23.372    c2.431-84.178,70.454-152.201,154.632-154.631V73.336c0-2.573,2.086-4.659,4.66-4.659c2.573,0,4.659,2.086,4.659,4.659v23.373    c84.18,2.43,152.203,70.453,154.633,154.631H436.8c2.574,0,4.66,2.087,4.66,4.66C441.46,258.574,439.374,260.66,436.8,260.66z" id="XMLID_13672_"/></g></g><g id="Layer_1"/></svg>
        </button>

        <div id="dropdown-backdrop" class="hidden inset-0 h-full w-full z-10"></div>

        <div id="dropdown-menu" class="hidden text-left right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
          <a href="javascript:void(0)" onclick="toggleSearchModal()" class="block px-4 py-2 text-sm  text-gray-700 hover:bg-red-500 hover:text-white">
            Search <span id="header-menu-search-short-cut"></span>
          </a>
          <script>
            document.getElementById('header-menu-search-short-cut').innerHTML = searchShortcut()
          </script>

          <a href="/" class="block px-4 py-2 text-sm  text-gray-700 hover:bg-red-500 hover:text-white">
            Home
          </a>
          <a href="/all-posts" class="block px-4 py-2 text-sm  text-gray-700 hover:bg-red-500 hover:text-white">
            See all posts
          </a>
          <a href="/about" class="block px-4 py-2 text-sm  text-gray-700 hover:bg-red-500 hover:text-white">
            Learn more about me
          </a>
          <a href="https://twitter.com/nehfy" target="_blank" class="block px-4 py-2 text-sm  text-gray-700 hover:bg-red-500 hover:text-white">
            Follow me on Twitter
            <svg class="w-4 h-4 float-right" style="position: relative; top: 3px;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M161.014,464.013c193.208,0 298.885,-160.071 298.885,-298.885c0,-4.546 0,-9.072 -0.307,-13.578c20.558,-14.871 38.305,-33.282 52.408,-54.374c-19.171,8.495 -39.51,14.065 -60.334,16.527c21.924,-13.124 38.343,-33.782 46.182,-58.102c-20.619,12.235 -43.18,20.859 -66.703,25.498c-19.862,-21.121 -47.602,-33.112 -76.593,-33.112c-57.682,0 -105.145,47.464 -105.145,105.144c0,8.002 0.914,15.979 2.722,23.773c-84.418,-4.231 -163.18,-44.161 -216.494,-109.752c-27.724,47.726 -13.379,109.576 32.522,140.226c-16.715,-0.495 -33.071,-5.005 -47.677,-13.148l0,1.331c0.014,49.814 35.447,93.111 84.275,102.974c-15.464,4.217 -31.693,4.833 -47.431,1.802c13.727,42.685 53.311,72.108 98.14,72.95c-37.19,29.227 -83.157,45.103 -130.458,45.056c-8.358,-0.016 -16.708,-0.522 -25.006,-1.516c48.034,30.825 103.94,47.18 161.014,47.104" style="fill-rule:nonzero;"/></svg>
          </a>
        </div>
      </div>
      <div class="top-nav-buffer">
      </div>
</header>

<script>
  (function () {
    const dropdownButton = document.getElementById('dropdown-button');
    const dropdownBackdrop = document.getElementById('dropdown-backdrop');
    const dropdownMenu = document.getElementById('dropdown-menu');

    var dropdownVisible = false;

    function toggleDropdown() {
      if (dropdownVisible) {
        dropdownBackdrop.classList.remove('fixed');
        dropdownBackdrop.classList.add('hidden');
        dropdownMenu.classList.remove('absolute');
        dropdownMenu.classList.add('hidden');
      } else {
        dropdownBackdrop.classList.remove('hidden');
        dropdownBackdrop.classList.add('fixed');
        dropdownMenu.classList.remove('hidden');
        dropdownMenu.classList.add('absolute');
      }

      dropdownVisible = !dropdownVisible;
    }

    dropdownBackdrop.addEventListener('click', toggleDropdown);
    dropdownMenu.addEventListener('click', toggleDropdown);
    dropdownButton.addEventListener('click', toggleDropdown);

  }())
</script>