<div class="info-panel mb-6 py-3 px-6">
    <div>
    Do you want to know about new posts?
    </div>
    <a href="https://twitter.com/nehfy" target="_blank" class="hover:text-red-500">Follow me to receive updates</a><br>
</div>