<div class="info-panel mb-6 py-3 px-6">
    <div>
        Do you have a question on this or maybe a different opinion?
    </div>
    <a href="https://twitter.com/messages/compose?recipient_id=15045359" target="_blank" class="hover:text-red-500">Send me a private message</a>
</div>